---
import ProjectCard, { type Technologies } from "../../components/ProjectCard.astro";
import ProseTextCenter from "../../layouts/ProseTextCenter.astro";
import Section from "../../layouts/Section.astro";
import projects from './projects.json';


---

<Section id="projects" class="bg-[url('src/img/timeline-bg.svg')] bg-no-repeat bg-[length:100%_500px]">
  <ProseTextCenter>
    <h2>Projects</h2>
  </ProseTextCenter>
  <div class="mx-auto grid grid-cols-1 gap-4 py-10 sm:grid-cols-2">
    {projects.map((project) => (
      <ProjectCard
        title={project.title}
        description={project.description}
        websiteUrl={project.websiteUrl}
        githubUrl={project.githubUrl}
        technologies={project.technologies as Technologies[]}
      />
    ))}
  </div>
</Section>
