---
import ProjectCard from "../../components/ProjectCard.astro";
import ProseTextCenter from "../../layouts/ProseTextCenter.astro";
import Section from "../../layouts/Section.astro";

export type Technologies = 'React' | 'Typescript'

---

<Section id="projects">
  <ProseTextCenter>
    <h2>Projects</h2>
  </ProseTextCenter>
  <div class="mx-auto grid grid-cols-1 gap-4 py-10 md:grid-cols-2">
    <ProjectCard
      title="test"
      description="test"
      websiteUrl="test"
      githubUrl="test"
      technologies={['React']}
    />
  </div>
</Section>
