---
interface ButtonProps {
  text: string;
  targetId: string;
}

const { text, targetId } = Astro.props as ButtonProps;
---

<a href={`#${targetId}`} class="gap-4 p-2 grid justify-items-center text-base sm:text-2xl">
  {text}
  <svg viewBox="0 0 60 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 sm:w-20 sm:h-20 animate-float">
    <path d="M7.75586 8.45001L29.999 29.2697L52.2422 8.45001" stroke="#37DEAD" stroke-width="15.1881" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</a>