<header class="grid content-center justify-center md:content-start md:justify-start  bg-secondary bg-[url('src/img/header-bg.svg')] bg-no-repeat bg-[length:135%_100%] md:bg-[length:100%_100%] h-screen grid-rows-[auto_auto] p-10 text-white font-poppins">
  <div class="text-center md:text-left">
    <h1 class="mb-4 text-4xl sm:text-6xl md:text-8xl font-bold">Boris Grunwald</h1>
    <h2 class="text-2xl sm:text-4xl font-light md:text-6xl">Software Developer</h2>
  </div>
</header>
