<header class="grid bg-secondary bg-[url('src/img/header-bg.svg')] bg-no-repeat bg-contain h-screen grid-rows-[auto_1fr] p-10 text-white font-poppins">
  <div>
    <h1 class="mb-4 text-2xl md:text-8xl font-thin">Boris Grunwald</h1>
    <h2 class="text-xl font-light md:text-6xl">Software Developer</h2>
  </div>
</header>
