---
import CtaButton from "./CtaButton.astro";
---
<header class="grid grid-rows-2 gap-20 md:content-normal lg:justify-normal  bg-secondary bg-[url('/img/header-bg.svg')] bg-no-repeat bg-[length:135%_100%] lg:bg-[length:100%_100%] h-screen p-10 text-white font-poppins">
  <div class="text-center lg:text-left self-end lg:self-start">
    <h1 class="mb-4 animate-fadeInRight animate-duration-[.5s] text-4xl sm:text-6xl lg:text-8xl font-bold">Boris Grunwald</h1>
    <h2 class="text-2xl animate-fadeInLeft animate-duration-[.5s] animate-delay-[.2s] sm:text-4xl font-light lg:text-6xl">Software Developer</h2>
  </div>
  <div class="flex items-center animate-fadeInTop animate-duration-[.5s] animate-delay-[.4s] justify-center lg:justify-end lg:pr-20 self-start lg:self-center">
    <CtaButton text="Get to know me" targetId="about"/> 
  </div>
</header>
