---
const t = 2;


---


<header class="text-white p-7 h-screen">
    <h1 class="text-5xl md:text-8xl font-bold mb-4">Boris Grunwald</h1>
    <h2 class="text-3xl md:text-6xl font-light">Software Developer</h2>
</header>