---
import { Content as AboutMe } from '../../content/aboutme/aboutme.md';
import ProseTextCenter from '../../layouts/ProseTextCenter.astro';
import Section from '../../layouts/Section.astro';
import { Icon } from 'astro-icon/components';

// Define an array of technologies with icon names and labels
const technologies = [
  { name: 'React', icon: 'logos:react' },
  { name: 'CSS', icon: 'vscode-icons:file-type-css' },
  { name: 'HTML', icon: 'vscode-icons:file-type-html' },
  { name: 'Tailwind', icon: 'logos:tailwindcss-icon' },
  { name: 'Git', icon: 'vscode-icons:file-type-git' },
  { name: 'Javascript', icon: 'logos:javascript' },
  { name: 'Typescript', icon: 'logos:typescript-icon' },
  { name: 'Cypress', icon: 'vscode-icons:file-type-cypress' },
  { name: 'Playwright', icon: 'vscode-icons:file-type-playwright' },
  { name: 'Sass', icon: 'vscode-icons:file-type-sass' },
  { name: 'Svelte', icon: 'vscode-icons:file-type-svelte' },
  { name: 'Firebase', icon: 'vscode-icons:file-type-firebase' },
  { name: 'Netlify', icon: 'vscode-icons:file-type-netlify' },
  { name: 'Astro', icon: 'vscode-icons:file-type-astro' },
];
---

<Section addTopPadding={false} id="about" class="bg-secondary">
  <ProseTextCenter class="md:prose-h3:text-left md:prose-h4:text-left">
    <AboutMe />
    <ul class="not-prose py-4 flex flex-wrap gap-1 sm:gap-2 justify-center md:justify-start">
    {technologies.map((tech) => (
      <li class="bg-dark py-2 px-4 sm:py-3 md:py-4 md:px-5 flex rounded-custom-xl items-center gap-3 text-xs sm:text-sm md:text-base">
        <Icon name={tech.icon} class="w-4 h-4 md:w-8 md:h-8" />
        {tech.name}
      </li>
    ))}
  </ul>
  </ProseTextCenter>
</Section>