<section id="about" class="p-4">
    <div class="prose md:prose-lg prose-blue prose-slate prose-invert mx-auto">
        <h2 class="text-center">About me</h2>
        <p>I am a passionate front-end developer from Denmark, currently based in Germany. I specialize in crafting efficient and engaging user interfaces that enhance the overall user experience.</p>
        <h3>Skills and expertise</h3>
        <ul>
            <li>
                Proficient in HTML5, CSS3, and JavaScript (ES6+), with a strong understanding of core concepts such as prototypes, closures, the event loop, and the DOM.
            </li>
            <li>
                Skilled in React, with hands-on experience building and maintaining React applications. Additionally, experienced with other component-based frameworks such as Svelte, Astro, and Gatsby.
            </li>
            <li>
                I have a strong sense of creating beautiful designs and extensive experience using Figma for design processes.
            </li>
        </ul>
        <h3>Professional experience</h3>
        <h4>Frontend developer: iComps GmbH</h4>
        <ul>
            <li>
                Maintained and extended a dynamic React application
            </li>
            <li>
                Created automated tests that enhanced software reliability, reduced downtime due to bugs, and improved overall development efficiency.
            </li>
        </ul>
    </div>
</section>