---
import {Content as AboutMe} from '../../content/aboutme/aboutme.md';
import Prose from '../../layouts/Prose.astro';
import Section from '../../layouts/Section.astro';
---

<Section addTopPadding={false} id="about">
    <Prose>
        <AboutMe/>
    </Prose>
</Section>
