---
interface Props {
  href?: string;
  type?: "submit" | "reset" | "button";
}

const { href, type } = Astro.props;
const buttonClass = `
text-white
text-sm
md:text-base
text-nowrap 
font-bold
text-lg 
border-4
rounded-custom-xl
px-5
py-2 
border-white
outline-none
hover:border-tertiary
focus:border-tertiary
`;
---

{
  href ? (
    <a href={href} class={buttonClass}>
      <slot />
    </a>
  ) : (
    <button type={type || "button"} class={buttonClass}>
      <slot />
    </button>
  )
}
