---
interface Props {
  href?: string;
  type?: "submit" | "reset" | "button";
}

const { href, type } = Astro.props;
const buttonClass = `
text-white 
font-bold
text-lg 
border-4
rounded-bl-lg
rounded-tr-lg
px-5
py-2 
border-white
hover:border-tertiary`;
---

{
  href ? (
    <a href={href} class={buttonClass}>
      <slot />
    </a>
  ) : (
    <button type={type || "button"} class={buttonClass}>
      <slot />
    </button>
  )
}
