---
interface ProseProps {
  class?: string;
}

const { class: additionalClass = '' } = Astro.props;
---
<div
  class={`prose prose-invert prose-h2:text-2xl md:prose-h2:text-4xl prose-h2:tracking-widest prose-h2:uppercase ${additionalClass}`}
>
  <slot />
</div>
